body{
    text-align: center;
    }
 #start-btn{
     display: inline-block;
 　　 padding: 0.5em 1em;
     text-decoration: none;
     background: #3cb371;
     color:#ffffff;
     border-bottom: solid 4px #006400;
    }
#reset-btn{
     display: inline-block;
 　　 padding: 0.5em 1em;
     text-decoration: none;
     background: #3cb371;
     color:#ffffff;
     border-bottom: solid 4px #006400;
    }
img{
　　　width: 260px;
     height: 330px;
}
